.container{

    display: grid;
    grid-template-columns: 1fr, 4fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
    
}

.header{
    grid-column: 2/5;
    display: grid;
    grid-template-rows: 1fr, 1fr;
    padding-left: 30px;
    padding-right: 30px;

}
.top-row{
    grid-row: 1/2;
}
.top-row, .right-content, .bottom-row{
    display: flex;
    justify-content: space-between;
}

.right-content{
    gap: 20px;
    align-items: start;
}
#name{
    font-weight: bolder;
}

img{
    width: 30px;
}
.image{
    width: 50px;
}
.left-content{
    display: flex;
    gap: 20px;
}
.twitter.txt > #name {
    font-size: larger;
}

